### super secret things
[keys]
TOKEN = "YOUR_DISCORD_TOKEN_HERE"
LASTFM = "YOUR_LASTFM_API_KEY_HERE"
STEAM = "YOUR_STEAM_API_KEY_HERE"
TENOR = "YOUR_TENOR_API_KEY_HERE"
MAKESWEET = "YOUR_MAKESWEET_API_KEY_HERE"
OPENAI = "YOUR_OPENAI_API_KEY_HERE"

### actual config
[bot_config]
prefix = "!"
report_channel = 1234
### statuses the bot will cycle through.
catchphrases = [
]

[db_config]
user = "postgres"
password = "admin"
database = "catness-db"
command_timeout = 30
max_size = 10
min_size = 5

[ids]
### user IDs for contributors
contributors = [
]

### user IDs for friends
special = [
]

### user IDs for the bot owners (Include yourself)
owners = [
    1161982476143575051
]