TOKEN = ""
LASTFM = ""
STEAM = ""
OPENAI = ""
TENOR = ""
MAKESWEET = ""
prefix = ""

### User IDs for contributors
contributors = [
]

### User IDs for friends
special = [
]

### User IDs for the bot owners (Include yourself)
owners = [
]


### Statuses the bot will cycle through.
catchphrases = [
]
