### super secret things
TOKEN = ""
LASTFM = ""
STEAM = ""
OPENAI = ""
TENOR = ""
MAKESWEET = ""

### actual config
prefix = ""
report_channel = 1234

### user IDs for contributors
contributors = [
]

### user IDs for friends
special = [
]

### user IDs for the bot owners (Include yourself)
owners = [
]


### statuses the bot will cycle through.
catchphrases = [
]
