aiohttp~=3.9.1
asyncio==3.4.3


emoji==2.2.0
openai==0.27.2
Pillow~=10.2.0
requests==2.31.0
toml==0.10.2
jishaku==2.5.2
psutil==5.9.5
discord.py==2.3.2
pynvml==11.5.0

pet-pet-gif==1.0.2
python-dateutil==2.8.2